<h3>Get configuration from JSON file</h3>
<div>
  <button (click)="clear(); showConfig()">get</button>&nbsp;
<!-- 
  <button (click)="clear(); showConfig_v1()">get</button>
  <button (click)="clear(); showConfig_v2()">get</button>
-->  
  <button (click)="clear(); showConfigResponse()">getResponse</button>&nbsp;
  <button (click)="clear()">clear</button>&nbsp;
  <button (click)="clear(); makeError()">error</button>
  <span *ngIf="config">
    <p>Heroes API URL is "{{config.heroesUrl}}"</p>
    <p>Textfile URL is "{{config.textfile}}"</p>
    <div *ngIf="headers">
      Response headers:
      <ul>
        <li *ngFor="let header of headers">{{header}}</li>
      </ul>
    </div>
  </span>
</div>
<p *ngIf="error" class="error">{{error | json}}</p>

