:host {
    display: block;
    background-color: green;
    color: white;
    width: 75%;
    padding: 3px 11px 3px 11px;
  }
  
  
  /*
  Copyright 2017-2018 Google Inc. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  */