<ngForm nestableForm #form2="ngForm">
  <form-status formName="form-2" [isFormValid]="form2.valid"></form-status>
  <input type="text" name="text2" ngModel required>

<!-- 
  <div ngForm nestableForm #form21="ngForm">
    <form-status formName="form-2.1" [isFormValid]="form21.valid"></form-status>
    <input type="text" name="text21" ngModel required>
  </div>

  <div ngForm nestableForm #form22="ngForm">
    <form-status formName="form-2.2" [isFormValid]="form22.valid"></form-status>
    <input type="text" name="text22" ngModel required>
  </div>
-->
  <button type="button" style="margin-left: 15px" (click)="isReactiveDisabled = !isReactiveDisabled">Toggle Reactive form</button>
  <reactive-form *ngIf="!isReactiveDisabled"></reactive-form>
  <isolated-form></isolated-form> 

</ngForm>